<!-- <h1>Welcome to Angular App</h1>
<app-products></app-products>
<app-warning-alert></app-warning-alert>
<success-alert></success-alert> -->

<!-- <app-server></app-server> -->
<!-- <app-names></app-names> -->
<!-- <app-clicklogs></app-clicklogs> -->

<!-- <app-products></app-products> -->

<!-- <app-accounts></app-accounts> -->

<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="server">Server</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="warningalert">WarningAlert</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="products">products</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="clicklogs">clicklogs</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="accounts">accounts</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="tforms">Tforms</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="rforms">Rforms</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="pdemo">Pipes Demo</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="bpost">Blogs Post</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
